/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.cypress
.env.backup
.env.cypress
cypress.config.js
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.history
